<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-sm-6 col-xs-11 col">
      <div class="signup-form">
        <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)" novalidate>
          <h2>Sign Up</h2>
          <p>Please fill in this form to create an account!</p>
          <hr />
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  name="firstname"
                  placeholder="First Name"
                  pattern="^[a-zA-Z]+$"
                  required
                  ngModel
                  #firstname="ngModel"
                />
                <div
                  *ngIf="
                    !firstname?.valid &&
                    (firstname?.dirty || firstname?.touched)
                  "
                  class="text-danger h6"
                >
                  Please enter Valid Firstname
                </div>
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  name="lastname"
                  placeholder="Last Name"
                  pattern="^[a-zA-Z]+$"
                  required
                  ngModel
                  #lastname="ngModel"
                />
                <div
                  *ngIf="
                    !lastname?.valid && (lastname?.dirty || lastname?.touched)
                  "
                  class="text-danger h6"
                >
                  Please enter Valid Lastname
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
              ngModel
              #email="ngModel"
            />
            <div
              *ngIf="!email?.valid && (email?.dirty || email?.touched)"
              class="text-danger h6"
            >
              Please enter Valid email
            </div>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              required
              ngModel
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              placeholder="Confirm Password"
              required
              ngModel
            />
          </div>
          <div class="form-group">
            <label class="form-check-label"
              ><input type="checkbox" required /> I accept the
              <a href="#">Terms of Use</a> &amp;
              <a href="#">Privacy Policy</a></label
            >
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">
              Sign Up
            </button>
          </div>
        </form>
        <div class="hint-text">
          Already have an account? <a href="#">Login here</a>
        </div>
      </div>
    </div>
  </div>
</div>
